body {
	font-family: "PT Sans Narrow", sans-serif;
	font-size: 14pt;
	color: black;
	line-height: 24pt;
}

.index-content-title,
.catalog-title,
.item-title {
	font-size: 30pt;
	text-transform: uppercase;
}


.catalog-content-title ,
.item-content-title  {
	font-size: 24pt;
	text-transform: uppercase;
}